Repository zachaustin01/sewer-nfl, pull requests merged in 2023-06, with the labels that each got.

#2 wiup
  .vscode/settings.json
  requirements.txt
  warehouse/jimmy_setup_v0604.py
  warehouse/jimmy_warehouse_v0604.py
  warehouse/pipelines/jimmy_pipelines_v0604.py
Labels: @warehouse, repo

#12 Update discovery.ipynb
  models/pe1/notebooks/discovery.ipynb
  models/pe1/pipeline.py
  requirements.txt
Labels: test, repo

#13 Consolidate warehouse functions into easily callable pipelines
  models/pe1/pipeline.py
  warehouse/archive/jimmy_pipelines_v0604.py
  warehouse/archive/jimmy_setup_v0604.py
  warehouse/archive/jimmy_warehouse_v0604.py
  warehouse/catalog.py
  warehouse/config.py
  warehouse/notebooks/implementation-tests.ipynb
  warehouse/pipelines/pbp/__init__.py
  warehouse/pipelines/pbp/epa.py
  warehouse/pipelines/pbp/performance.py
  warehouse/pipelines/pbp/setup.py
Labels: test, @warehouse, catalog

#17 Make pipelines great again
  warehouse/catalog.py
  warehouse/pipelines/pbp/performance.py
Labels: @warehouse, catalog
